body
{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 25px);
    font-family: 'helvetica';
    background:
    radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
    linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
    linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
    linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
    linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
    background-size:40px 60px;
    }
h1
{
    font-size: 8vmax;
    color: #4C5B5C;
    margin: 30vh auto;
    text-shadow: 2px 2px 2px rgba(120,120,120,0.3);
}
.button
{
    position: relative;
    font-size: 6vmin;
    margin: 1vmin;
    z-index: 999;
    text-align: end;
}
.button a
{
    text-decoration: none;
    color: #4C5B5C;
}
.btn-open::after
{
    font-family: "FontAwesome";
    content: "\f0c9";
    color: #333;
    transition:color .2s;
}
.btn-open:hover:after
{
    color: #1c9769;
}
.btn-close::after
{
    font-family: "FontAwesome";
    content: "\f00d";
    color: #333;
    transition:color .2s;
}
.btn-close:hover:after
{
    color: #1c9769;
}
.overlay
{   
    display:none;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    top: 0;
    left:0;
    background: #FFCA3A;
}
.nav-container
{
    justify-content: center;
    display: flex;
    margin: auto;
}
.nav-col
{
    display: flex;
    flex-direction: column;
    padding: 2vmin 3vmin;
    margin: 2vmin;
    border-left: 0.5vmin solid #4C5B5C;
}
.nav-col h2
{
    font-size: 6vmin;
    margin: auto 0;   
    color: #4C5B5C;
    text-shadow: 2px 2px 2px rgba(120,120,120,0.3);
}
.nav-col ul
{
    padding: 0;
    list-style: none;
}
.nav-col ul li a
{
    color: #7A8450;
    text-shadow: 1px 1px 1px rgba(120,120,120,0.5);
    font-size: 4vmin;
    display: flex;
    flex-direction: column;
    padding: 1vmin 0;
    text-decoration: none;
    transition: color .2s ease;
}
.nav-col ul li a:hover
{
    color: #88AB75;
}